.d-none {
    display: none;
}

.d-block {
    display: block;
}

.body {
    position: relative;
    background: #BD0118;
    min-width: 800px;
    min-height: 600px;
    border-radius: 10px;
}

.body.closed {
    position: relative;
    min-width: 400px;
    width: 400px;
    height: 150px;
    position: absolute;
}

.body.closed>.red, .blue, .yellow, .status {
    display: inline-block;
    position: absolute;

    border-radius: 50%;
    top: 0;
    right: 0;
}

.body.closed .status {
    display: inline-block;
    width: 50px;
    height: 50px;
    
    border: 2px solid #d1dad6;
    
    background: rgb(20, 76, 121);
    background: radial-gradient(circle, rgba(20, 76, 121, 1) 0%, rgba(0, 89, 144, 1) 35%, rgba(77, 167, 223, 1) 100%);
    
    animation: lighting_status 0.5s infinite;
    
    top: 15px;
    left: 15px;
}

@keyframes lighting_status {
    50% {
        box-shadow:
            inset 0 0 25px rgba(77, 167, 223, 1),
            /* inner white */

            inset 20px 0 30px rgba(0, 89, 144, 1),
            /* inner left magenta short */

            inset -20px 0 30px rgba(77, 167, 223, 1),
            /* inner right cyan short */

            inset 20px 0 50px rgba(0, 89, 144, 1),
            /* inner left magenta broad */

            inset -20px 0 50px rgba(77, 167, 223, 1),
            /* inner right cyan broad */

            0 0 10px rgba(77, 167, 223, 1),
            /* outer white */

            -10px 0 30px rgba(0, 89, 144, 1),
            /* outer left magenta */

            10px 0 30px rgba(77, 167, 223, 1);
        /* outer right cyan */
    }
}

.body.closed .red, .blue, .yellow {
    display: inline-block;
    position: absolute;

    border-radius: 50%;
    top: 0;
    right: 0;

    width: 15px;
    height: 15px;
}

.body.closed .red {
    border: 2px solid rgb(218, 46, 46);

    top: 15px;
    left: 100px;

    background: rgb(204, 34, 34);
    background: radial-gradient(circle, rgb(204, 34, 34) 0%, rgb(230, 47, 23) 35%, rgb(204, 34, 34) 100%);
    box-shadow:
            inset 0 0 25px rgb(204, 34, 34),
            /* inner white */

            inset 20px 0 30px rgb(230, 47, 23),
            /* inner left magenta short */

            inset -20px 0 30px rgb(204, 34, 34),
            /* inner right cyan short */

            inset 20px 0 50px rgb(230, 47, 23),
            /* inner left magenta broad */

            inset -20px 0 50px rgb(204, 34, 34),
            /* inner right cyan broad */

            0 0 10px rgb(204, 34, 34),
            /* outer white */

            -10px 0 30px rgb(230, 47, 23),
            /* outer left magenta */

            10px 0 30px rgb(204, 34, 34);
        /* outer right cyan */
}

.body.closed .yellow {
    border: 2px solid yellow;

    top: 15px;
    left: 160px;
}

.body.closed .blue {
    border: 2px solid blue;

    top: 15px;
    left: 130px;
}